body{
    width: 100%;
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    background-image: url("./background.svg");
    background-repeat: repeat;
    background-size: cover;
    background-color: #013c58;
    font-family: Arial, Helvetica, sans-serif;
}

#part-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffba42;
}

#part-1 h1{
    margin: 0.1rem;
    
}

#part-1 h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    border:1px solid #ffba42;
    background-color: #00507567;
    margin: 0.1rem;
    width: 120px;
}

#part-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;

}

#table{
    width: 610px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: #f5a201 1px solid;
    border-radius: 20px;
}

#intro{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
#start{
    width: 50%;
    background-color: #f5a201;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    font-weight: 700;
    border: 5px solid #f5a201;
    border-radius: 3vh;

}
#start:hover{
    background-color: #ffba42;
    border-color: #ffba42;
    transition-duration: 500ms;
}

table {
    display: none;
    border-collapse: collapse;
    border-style: hidden;
    /*Remove all the outside
    borders of the existing table*/
}
table td {
    border-collapse: collapse;
    padding: 0.3rem 0.5rem;
    text-align: center;
    border: 1px #ffba42;
    border-style: solid;
    font-size: 12px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#form {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    text-align: center;
    width: 30vw;
    justify-content: center;
    align-items: center;
}

input {
    display: flex;
    
    height: 15vh;
    width:  25vw;
    text-align: center;
    font-size: 5rem;
    border: hidden;
    border-bottom: 2px solid #f5a201;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    

}

#check {
    margin-top: 3vh;
    height: 7vh;
    width: 25vw;
    background-color: #f5a201;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    font-weight: 700;
    border: 5px solid #f5a201;
    border-radius: 3vh;
}

#check:hover{
    background-color: #ffba42;
    border-color: #ffba42;
    transition-duration: 500ms;
}

#result{
    display: flex;
    margin-top: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 0.5vh;
}

#menyerah {
    display: none;
    position: relative;
    margin-top: 0.5vh;
    height: 5vh;
    width: 15vw;
    background-color: #f5a201;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    font-weight: 700;
    border: 5px solid #f5a201;
    border-radius: 3vh;
}

#lagi {
    display: none;
    position: relative;
    margin-top: 0.5vh;
    height: 5vh;
    width: 15vw;
    background-color: #f5a201;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    font-weight: 700;
    border: 5px solid #f5a201;
    border-radius: 3vh;
}



@media screen and (max-width: 1000px) {
    body{
        justify-content: center;
        align-items: center;
    }
    #part-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #table{
        width: 80%;
        overflow-x: scroll;
        justify-content: center;

    }

    #form {
        width: 50vw;
        margin: 4rem;
    }
    input{
        width: 50vw;
        font-size: 3rem;
    }

    table{
        position: relative;

    }
    table td{
        font-size: 12px;
    }

  

  
}

@media screen and (max-width: 600px) {
    #table{
        width: 80%;
        overflow-x: scroll;
        justify-content: left;

    }
}